.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--cornflower);
}

.header-logo {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.logo-accent {
  color: #4d5ae5;
}

.nav-header {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  flex-grow: 1;
  padding-left: 76px;
}

.nav-header-list {
  display: flex;
  column-gap: 40px;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link:active {
  color: #404bbf;
}

.header-address-list {
  display: flex;
  column-gap: 40px;
}

.header-address {
  font-style: normal;
}

.header-address:hover,
.header-address:focus {
  color: #404bbf;
}
